
body {color: rgb(51,218,255); background-color:black;
font-family: copperplate, fantasy, sans-serif; }
body section.gallery {background-color:black; padding:2em; margin:auto;}

figure {width:30%; margin:auto; padding-top: 1vw; padding-bottom: 1vw;}
figcaption {font-style: italic; font-size: smaller;}
img.photo {max-width:500px; width:100%}


ol {list-style-type: lower-alpha;
padding: 5em;
    
}
a:link {
  color: blue;
}
a:visited {
  color: blue;/* zm, this is green i hate it */
}
a:hover {
  color: blue;
}
a:active {
  color: blue;
}
nav.menuA {border-top-style:solid; border-bottom-style:solid;
border-color: white; background-color:rgb(204,255,255)}

nav.menuA ul {
  list-style-type: none;  
}
nav.menuA ul li {display:inline; font-size: 2vw; padding:2vw;}
hr{color:white;}

 
