
body {
    color: rgb(255, 255, 102);
    background-color: black;
    font-family: copperplate, fantasy, sans-serif;
}
body section.gallery {
    background-color: black;
    padding: 2em;
    margin: auto;
}

figure {
    width: 40%;
    margin: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
figcaption {
    font-style: italic;
    font-size: smaller;
}
img.gallery {
    max-width: 400px;
    width: 100%
}


ol {
    list-style-type: lower-alpha;
    padding: 5em;

}
a:link {
    color: black;
}
a:visited {
    color: black; /* zm, this is green i hate it */
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
nav.menuA {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(255, 255, 102);
    background-color: black
}

nav.menuA ul {
    list-style-type: none;
}
nav.menuA ul li {
    display: inline;
    font-size: 2vw;
    padding: 2vw;
}
hr {
    color: rgb(255, 255, 102);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 45%
}
figure {
    width: auto;
    padding: 50px;
    height: auto;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);

}
* {
    box-sizing: border-box;
}


.container {
    position: relative;
    width: auto;
    height: auto;
}

.mySlides {
    display: none;
    width: auto;
    height: auto;
}


.cursor {
    cursor: pointer;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


.next {
    right: 0;
    left: auto;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
    width: 16.66%;
}


.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


